[defaults]
become_method = sudo
inventory = inventory/dev
host_key_checking = False
stdout_callback = yaml

ansible_winrm_read_timeout_sec = 180
ansible_winrm_operation_timeout_sec = 180

gathering = smart
fact_caching = jsonfile
fact_caching_timeout = 86400
fact_caching_connection = /tmp/ansible_fact_cache
