[Unit]
Description=WSO2 API Manager - Default profile
After=network.target

[Service]
{% if ansible_env.JAVA_HOME is defined %}
Environment=JAVA_HOME={{ ansible_env.JAVA_HOME }}
{% endif %}
ExecStart={{ carbon_home }}/bin/wso2server.sh start
ExecStop={{ carbon_home }}/bin/wso2server.sh stop
PIDFile={{ carbon_home }}/wso2carbon.pid
User={{ wso2_user }}
Group={{ wso2_group }}
Type=forking
Restart=on-failure
RestartSec=30
StartLimitInterval=60s
StartLimitBurst=10

[Install]
WantedBy=multi-user.target
